@import "tailwindcss";

@theme {
  --font-inter: Inter, sans-serif;
  /* ... */
}

@plugin 'tailwind-scrollbar';

html,
body,
#root {
  height: 100%;
  width: 100%;
  display: flex;
}

.recharts-wrapper *:focus {
  outline: none !important;
  box-shadow: none !important; /* Optional: also remove any focus shadows */
  border: none !important;     /* Optional: ensure no border is applied */
}